section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-control-prev-icon {
    background-image: url(../img/left-arrow.png);
}

.carousel-control-next-icon {
    background-image: url(../img/next.png);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 20px;
}

.carousel-control-prev {
    left: -150px;
}

.carousel-control-next {
    right: -150px;
}